body {
	font-family: Tahoma, Arial, "MS Trebuchet", sans-serif;
}

.container {
	left: 60px;
	width: 90%; height: 90%;
	position: absolute;
}

canvas {
	border: 1px solid black;
}

#lineWidth {
	border: 1px solid black;
	font-size: 1em;
	margin-left: 2px;
	padding: 0;
	width: 36px;
}
#status {
	border-style: none;
	display: none;
	font-size: 1em;
}

#new {
	border: 1px solid black;
	font-size: 1em;
	height: 22px;
	padding: 0;
}

.tools {
	display: block;
	float: left;
}
.tools * {
	margin-bottom: 5px;
}

#colorpicker {
	background: url(../img/select2.png);
	height: 36px; width: 36px;
	position: relative;
}
#colorpicker div {
	background: #000 url(../img/select2.png) center;
	position: absolute;
	height: 30px; width: 30px;
	top: 3px; left: 3px;
}